:root {
  --primary-color: #0247AE;
  --secondary-color: #3498db;
  --accent-color: #ecf0f1;
  --text-color: #2c3e50;
  --light-text-color: #7f8c8d;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 10px;
  background-clip: content-box;
}

/* 4. Efeito ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 80%;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.home-section {
  height: 0;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
