#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.home-section {
  height: 0;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
